/* apply flexbox to the body element */
* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

button {
  background-color: rgb(255, 255, 255);
  color: #a7a7a7;
  border: 0px solid rgb(224, 224, 224);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  font-family: 'IBM Plex Mono', monospace;
}


/* style the editor container */
#editor {
  width: 30%;
  height:fit-content;
  min-height: 100vh;
  padding: 20px;
  justify-content: left;
}


.json-grid-container-wrapper {
  height: calc(100vh);
  min-width: calc(70% - 30px);
  overflow: scroll;
  align-items: center;
  justify-content: left;
  margin-left: 10px;
  display: flex; /* added */
}
.json-grid-container {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  display: inline-block;
}

.json-grid-container th,
.json-grid-container td {
  text-align: left;
  padding: 1px 10px 1px 5px;
  border: 0.5px solid rgb(224, 224, 224);
  vertical-align: top;
}

.json-grid-container th,
.json-grid-container td.rowName {
  font-weight: 500;
  color: rgb(136, 136, 136);
  background-color: rgb(224, 224, 224);
}

.json-grid-container table {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  border-spacing: 0;
  -webkit-box-shadow: 5px 4px 6px 0px rgba(176, 176, 176, 0.4);
  -moz-box-shadow: 5px 4px 6px 0px rgba(176, 176, 176, 0.4);
  box-shadow: 5px 4px 6px 0px rgba(176, 176, 176, 0.6);
}

.json-grid-container table.shrinked {
  display: none;
}

.json-grid-container span.string {
  color: #dd1144;
}

.json-grid-container span.number {
  color: #3f97b8;
}

.json-grid-container span.boolean {
  color: #1da032;
}