/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: 'IBM Plex Mono', monospace;
  color: #f1fa8c;
  line-height: 1.5;
}

/* Layout */
body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #282a36;
}

/* Buttons */
button {
  background-color: #282a36;
  border: none;
  color: #eee;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  font-family: 'IBM Plex Mono', monospace;
}

button:hover {
  color: #f1fa8c;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

/* Editor container */
#editor {
  width: 30%;
  height: fit-content;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

/* JSON grid container wrapper */
.json-grid-container-wrapper {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-width: 65%;
  overflow: auto;
  display: flex;
  background-color: #282a36;
}

/* JSON grid container */
.json-grid-container {
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
}

/* Table headers and row names */
.json-grid-container th,
.json-grid-container td {
  text-align: left;
  padding: 1px 10px 1px 5px;
  border: 0.5px solid #393c4e;
  vertical-align: top;
}

.json-grid-container th,
.json-grid-container td.rowName {
  font-weight: 500;
  color: #8a8dad;
  background-color: #393c4e;
  position: sticky;
}

.json-grid-container th {
  top: 0;
  z-index: 2;
}

.json-grid-container td.rowName {
  left: 0;
  z-index: 1;
}

/* Table */
.json-grid-container table {
  border: 2px solid #393c4e;
  border-radius: 5px;
  border-spacing: 0;
}

.json-grid-container table.shrinked {
  display: none;
}

/* Data types */
.json-grid-container span.string {
  color: #eee;
}

.json-grid-container span.number {
  color: #bd93f9;
}

.json-grid-container span.boolean {
  color: #38ed7b;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #282a36;
}

::-webkit-scrollbar-thumb {
  background-color: #393c4e;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575b70;
}